{% extends 'web/base.html' %}
{% load static %}
{% block title %}{{ site_details.name }} | blog{% endblock %}
{% block container %}
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url({% static 'blog/images/social-media-3758364_1920.jpg' %});">
		<h2 class="ltext-105 cl0 txt-center">
			{% if current_category %}Category: {{ current_category }}{% else %}Blog{% endif %}
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-62 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9 p-b-80">
					<div class="p-r-45 p-r-0-lg">
						<div class="infinite-container">
    						{% for article in articles %}
      					<div class="infinite-item">
      						<!-- item blog -->
						<div class="p-b-63">
							<a href="{% url 'blog:blog_article' slug=article.slug %}" class="hov-img0 how-pos5-parent">
								<img src="/assets/{{ article.articleimage_set.all.0.image_file }}" alt="IMG-BLOG">

								<div class="flex-col-c-m size-123 bg9 how-pos5">
									<span class="ltext-107 cl2 txt-center">
										{{ article.upload_date | date:'d'}}
									</span>

									<span class="stext-109 cl3 txt-center">
										{{ article.upload_date | date:'M Y'}}
									</span>
								</div>
							</a>

							<div class="p-t-32">
								<h4 class="p-b-15">
									<a href="{% url 'blog:blog_article' slug=article.slug %}" class="ltext-108 cl2 hov-cl1 trans-04">
										{{ article.title }}
									</a>
								</h4>

								<p class="stext-117 cl6 text-truncate">
									{{ article.articletext_set.all.0.text }}
								</p>

								<div class="flex-w flex-sb-m p-t-18">
									<span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
										<span>
											<span class="cl4">By</span><a href="{% url 'users:profile' article.author.id %}"> {{ article.author.name }}  
											</a><span class="cl12 m-l-4 m-r-6">|</span>
										</span>

										<span>
											{% for category in article.categories.all %}{{ category.article_category }}, {% endfor %}
											<span class="cl12 m-l-4 m-r-6">|</span>
										</span>

										<span>
											{{ article.comment_set.all.count }} Comment{{ article.comment_set.all.count | pluralize}}
										</span>
									</span>

									<a href="{% url 'blog:blog_article' slug=article.slug %}" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
										Continue Reading

										<i class="fa fa-long-arrow-right m-l-9"></i>
									</a>
								</div>
							</div>
						</div>
      					</div>
    						{% endfor %}
  						</div>

  						<div class="loading" style="display: none;">
    					Loading...
  						</div>
						

						<!-- Pagination -->
						{% if articles.has_next %}
    					<a class="infinite-more-link" href="?page={{ numbers.next_page_number }}">More</a>
  						{% endif %}
					</div>
				</div>

				<div class="col-md-4 col-lg-3 p-b-80">
					<div class="side-menu">
						<form action='/blog/search/'>
							<div class="bor17 of-hidden pos-relative">
								<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" type="text" name='q' placeholder="Search">

								<button class="flex-c-m size-122 ab-t-r fs-18 cl4 hov-cl1 trans-04">
									<i class="zmdi zmdi-search"></i>
								</button>
							</div>
						</form>
						<div class="p-t-55">
							<h4 class="mtext-112 cl2 p-b-33">
								Article Categories
							</h4>

							<ul>
								{% for category in blog_categories %}
								<li class="bor18">
									<a href="{% url 'blog:blog_category' category=category.article_category %}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
										{{ category.get_article_category_display }}
									</a>
								</li>
								{% endfor %}
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>	
{% endblock %}

{% block scripts %}
	  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>

{% endblock %}