{% extends "web/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Reset Complete {% endblock %}
{% block container %}
<br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="alert alert-info">
                    Your password has been set
                </div>
                <a href="{% url 'users:login' %}">Sign in here</a>
            </div>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}