{% extends 'web/base.html' %}
{% load static %}
{% block title %}{{ site_details.name }} | about{% endblock %}
{% block container %}
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url({% static 'web/images/abouts.jpg' %});">
		<h2 class="ltext-105 cl0 txt-center">
			About
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Story
						</h3>

						<p class="stext-113 cl6 p-b-26">
							{{ site_details.site_biography}}
						</p>

						<p class="stext-113 cl6 p-b-26">
							Any questions? Let us know in {{ site_details.address }} or call us on {% for number in site_details.phonenumber_set.all %}{{ number.phone_number }}, {% endfor %}
						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="/assets/{{ site_details.our_story_image }}" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Mission
						</h3>

						<p class="stext-113 cl6 p-b-26">
							{{ site_details.site_mission }}
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								{{ site_details.site_quote }}
							</p>

							<span class="stext-111 cl8">
								- {{ site_details.site_quote_by }}
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="/assets/{{ site_details.our_mission_image }}" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
{% endblock %}