{% extends 'web/base.html' %}
{% load static %}
{% block title %}Charge{% endblock %}



{% block container %}
<br><br><br><br>
	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="{% url 'web:web_index' %}" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Charge
			</span>
		</div>
	</div>
		
	<div class="container mt-5 text-center">
		<h2 class="text-center">Thank you for your Orders</h2>
		<a href="/site/my-orders" class="btn btn-success">My Orders</a>
	</div>

{% endblock %}		