{% extends 'web/base.html' %}
{% load static %}
{% block title %}Cart{% endblock %}



{% block container %}
<br><br><br><br>
<div class="container">
	<div class="alert alert-danger">To update the quantity of a product in your cart, click on the product from your cart, change the quatity from <i>1 the default</i> to the new desired quantity and add it to cart again. We dearly appologize for the inconvenience.</div>
</div>
	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="{% url 'web:web_index' %}" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shoping Cart
			</span>
		</div>
	</div>
		

	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
									<th class="column-5">Total</th>
									<th class="column-6"></th>
								</tr>

								{% for item in cart.orderitems.all %}
								<tr class="table_row">
									<td class="column-1">
										<a href="{% url 'web:product_detail' slug=item.product.slug %}">
											<div class="how-itemcart1">
											<img src="/assets/{{ item.product.productphoto_set.all.0.image }}" alt="IMG">
										</div>
										</a>
									</td>
									<td class="column-2"><a href="{% url 'web:product_detail' slug=item.product.slug %}" class="cl1">{{ item.product.name }}</a></td>
									<td class="column-3">{{ item.product.sale_currency}}{{ item.product.unit_discount_price }}</td>
									<td class="column-4">{{ item.quantity }}</td>
									<td class="column-5">{{ item.product.sale_currency}}{{ item.sub_total_price }}</td>
									<td class="column-6"><a href='{% url "web:update_cart" slug=item.product.slug %}' class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
										Remove
									</a></td>
								</tr>
								{% endfor %}

								<tr class="table_row">
									<td class="column-1">
										Total
									</td>
									<td class="column-2">-</td>
									<td class="column-3">-</td>
									<td class="column-4">-</td>
									<td class="column-5">₦{{ cart.total_price| floatformat:2 }}</td>
								</tr>
							</table>
						</div>

						<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
							
							<div class="flex-w flex-m m-r-20 m-tb-5">
								<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
									<a href="{% url 'web:web_index' %}" >Continue Shoping</a>
								</div>
							</div>
							{% if request.user.is_authenticated %}
							<a href='/site/checkout/' class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
								Proceed To Checkout
							</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}		